nav.navbar.navbar-static-top.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(ui-sref='home')
        img(src="assets/images/Logo_fondoClaro.png" style="height: 130%;")
        //span.glyphicon.glyphicon-signal
        //|  Datacivica
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      ul.nav.navbar-nav
        //li(ng-class="{ active: isActive('/')}")
          a(ui-sref='home') Inicio
        li(ui-sref-active="active")
          a(ui-sref='start') Introducción
        li(ui-sref-active="active")
          a(ui-sref='introduction') Conociendo D3.js
        li(ui-sref-active="active")
          a(ui-sref='charts') Graficando datos
        //li(ng-class="{ active: isActive('/dbox')}")
          a(ui-sref='dbox') Dbox.js
        //li(ng-class="{ active: isActive('/angular')}")
          a(ui-sref='angular') Integrando con Angular.js
      //ul.nav.navbar-nav.navbar-right.acme-navbar-text
        li(ng-class="{ active: isActive('/challenge')}")
          a(ui-sref='challenge'): button.btn.btn-success CHALLENGE ACCEPTED!
