nav.navbar.navbar-static-top.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(ui-sref='home')
        span.glyphicon.glyphicon-signal
        |  Taller d3.js
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-class="{ active: isActive('/')}")
          a(ui-sref='home') Inicio
        li(ng-class="{ active: isActive('/introduction')}")
          a(ui-sref='introduction') Introducción
        li(ng-class="{ active: isActive('/selections')}")
          a(ui-sref='selections') Selecciones y propiedades
        li(ng-class="{ active: isActive('/charts')}")
          a(ui-sref='charts') Graficando datos
        li(ng-class="{ active: isActive('/angular')}")
          a(ui-sref='angular') Integrando con Angular.js
      ul.nav.navbar-nav.navbar-right.acme-navbar-text
        li(ng-class="{ active: isActive('/challenge')}")
          a(ui-sref='challenge') CHALLENGE ACCEPTED!