#charts #ejercicio2
  min-height 200px
  background url('../assets/images/solar.jpg')
  background-size auto
  background-position: center;
  .circle
    padding 0
    width 50px
    width 50px

#chart-svg
  .bar
    fill steelblue

  .bar:hover
    fill brown

  .axis
    font 10px sans-serif

  .axis path, .axis line
    fill none
    stroke #000
    shape-rendering crispEdges
  .x.axis path
    display none


#ejercicio2.planetas
  min-height: 200px;
  background: url('../assets/images/solar.jpg') center;
  background-size: cover;
  .circle
    padding 0
