.row#charts
  .col-xs-12
    h2 Graficando datos
    h3 Cuando los elementos y datos toman sentido
    .row
      .col-xs-12
        h4 Ejemplo 1
      .col-xs-12
        .panel.panel-default
          .panel-heading
            code #ejemplo1
          #ejemplo1.panel-body
      .col-xs-12
        ui-codemirror#code4(ui-codemirror-opts="editorOptions" ng-model="codes[4]")
    .row
      .col-xs-12
        h4 Ejercicio 1
        ul
          li Retomando el ejercicio de la sección anterior. A cada circulo ponle como valor de su propiedad width y height, el valor del dato. Recuerda que las propiedades se modifican usando el método 
            code .attr(name, value);
      .col-xs-12
        .panel.panel-default
          .panel-heading
            code #ejercicio1
          #ejercicio1.panel-body
      .col-xs-12
        ui-codemirror#exercise0(ui-codemirror-opts="editorOptions" ng-model="exercises[0]")
    h3 ¿Y si tengo los datos en un CSV / TSV / JSON?
    p D3.js permite importar archivos de datos directamente usando los métodos 
    .panel.panel-default
      .panel-heading Métodos
      .panel-body
        pre
          | d3.csv(url, callback);
          | d3.tsv(url, callback);
          | d3.json(url, callback);
          | d3.dsv(url, callback);
        p El callback siempre recibe el arreglo de datos finales y si existió algun error
        pre function(data, error){
          |   // Qué hago con los datos?
          | }

    h3 Trabajando con divs
    .row
      .col-xs-12
        h4 Causas de muerte en la Ciudad de México en 2013
        .panel.panel-default
          .panel-heading Data.csv
          .panel-body
            pre
              table
                tr
                  td Causas
                  td Defunciones
                tr(ng-repeat="d in dataBars")
                  td {{d.name + " "}}
                  td {{d.deaths}}
            .row
              small.col-xs-6.pull-left Fuente: INEGI. Estadísticas de mortalidad. Distrito Federal, 2013
              small.col-xs-6.pull.right.text-right
                a(href="assets/data/CausasDeMortalidadDF2013.csv") CSV 
                  span.glyphicon.glyphicon-download
      .col-xs-12
        ui-codemirror#code0(ui-codemirror-opts="editorOptions" ng-model="codes[0]")
      .col-xs-12
        .panel.panel-default
          .panel-heading
            code #chart-bar
          .panel-body
            #chart-bar
      
    hr
    h3 Features
    .row
      .col-xs-12
        h4 Escalas
        p
          a(href="http://www.jeromecukier.net/blog/2011/08/11/d3-scales-and-color/") http://www.jeromecukier.net/blog/2011/08/11/d3-scales-and-color/
      .col-xs-12
        ui-codemirror#code1(ui-codemirror-opts="editorOptions" ng-model="codes[1]")
      .col-xs-12
        .panel.panel-default
          .panel-heading
            code #scales
          .panel-body
            #scales
    .row
      .col-xs-12
        h4 Eventos
        p
          a(href="https://developer.mozilla.org/en-US/docs/Web/Events#Standard_events") https://developer.mozilla.org/en-US/docs/Web/Events#Standard_events
      .col-xs-12
        ui-codemirror#code2(ui-codemirror-opts="editorOptions" ng-model="codes[2]")
      .col-xs-12
        .panel.panel-default
          .panel-heading
            code #events
          .panel-body
            #events
    hr
    h3 D3 + SVG
    p
      a(href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element") https://developer.mozilla.org/en-US/docs/Web/SVG/Element
    hr
    h3 Ejercicio 2 / Ejemplo 2
    ul 
      li Establece la escala a usar para las distancias de los planetas al Sol.
      li Genera una lista (arreglo) con los nombres de los planetas.
      li Establece la escala 
        strong ordinal 
        | a usar para cada uno de los planetas.
      li Genera circulos de SVG para cada uno de los planetas incluidos en los datos
      li Haz que la distancia (propiedad cx) sea proporcional según la escala
      li Genera otra escala que tome en cuenta el alto <code>height</code> del contenedor y los valores mínimo y máximo del diámetro de los planetas.
      li Establece el tamaño de los planetas según su diámetro usando esa escala.
    .row
      .col-xs-12
        h4 Distancia de los planetas al sol
        .panel.panel-default
          .panel-heading Data.csv
          .panel-body
            pre
              table
                tr
                  td Planeta
                  td Distancia media al Sol (Km)
                  td Diámetro (Km)
                tr(ng-repeat="d in planets")
                  td {{d.planet + " "}}
                  td {{d.distance}}
                  td {{d.diameter}}
            .row
              small.col-xs-6.pull-left Fuente: Wikipedia, 2016
              small.col-xs-6.pull.right.text-right
                a(href="assets/data/planetas.csv") CSV 
                  span.glyphicon.glyphicon-download
      .col-xs-12
        .panel.panel-default
          .panel-heading
            code #ejercicio2
          .panel-body#ejercicio2
      .col-xs-12
        ui-codemirror#exercise1(ui-codemirror-opts="editorOptions" ng-model="exercises[1]")
    hr
    h3 Gráficas reutilizables como una función
    .row
      .col-xs-12
        h4 Marcas de autos más vendidos en febrero de 2016
        .panel.panel-default
          .panel-heading Data.csv
          .panel-body
            pre
              table
                tr
                  td Grupo automotriz 
                  td Cantidad
                tr(ng-repeat="d in dataSvg")
                  td {{d.name + " "}}
                  td {{d.quantity}}
            .row
              small.col-xs-6.pull-left Fuente: Asociación Mexicana de la Industria Automotriz
              small.col-xs-6.pull.right.text-right
                a(href="assets/data/AutosVendidosFeb2016.csv") CSV 
                  span.glyphicon.glyphicon-download
      .col-xs-12
        ui-codemirror#code3(ui-codemirror-opts="editorOptions" ng-model="codes[3]")
      .col-xs-12
        .panel.panel-default
          .panel-heading
            code #chart-svg
          .panel-body
            #chart-svg
      
    hr
    h4 Más ejemplos en 
      a(href="https://github.com/mbostock/d3/wiki/Gallery") https://github.com/mbostock/d3/wiki/Gallery
    hr
