.row
  .col-sm-12.col-md-12.text-center.jumbotron
    h4 ¡Gana una beca (25%) para el curso de Introducción a Data Science en Dev.f!
.row
  .col-sm-12.col-md-12
    h2  Agenda 
    table.table
      tr
        td 7:00 p.m.
        td
        td Introducción
      tr
        td 7:15 p.m.
        td
        td Crash course de d3.js 
      tr
        td 8:15 p.m.
        td
        td Pizzas y ¡CHELAS!
      tr
        td 8:45 p.m.
        td 
        td Creación de gráficas reutilizables con d3.js
      tr
        td 9:45 p.m.
        td 
        td Presentación del reto
//.row
  .col-sm-12.col-md-12
    h2  Referencias 
    table.table
      tr
        td Repositorio del taller
        td
        td
          a(href='https://github.com/blankazucenalg/d3js') https://github.com/blankazucenalg/d3js
      tr
        td Yeoman Gulp Generator
        td
        td
          a(href='https://github.com/Swiip/generator-gulp-angular') https://github.com/Swiip/generator-gulp-angular 
      tr
        td Presentación de Mike Bostock
        td
        td
          a(href='http://bost.ocks.org/mike/d3/workshop/') http://bost.ocks.org/mike/d3/workshop/
//.row
  .col-sm-12.col-md-12
    h2  Tecnologías usadas 
    table.table
      tr(ng-repeat="awesomeThing in main.awesomeThings")
        td 
          a(ng-href='{{awesomeThing.url}}')
            img.pull-left(ng-src='assets/images/{{ awesomeThing.logo }}' alt='{{ awesomeThing.title }}' style="width: 50px")
        td 
          h4 {{ awesomeThing.title }}
        td
          p {{awesomeThing.description}}
        td
          a(ng-href='{{awesomeThing.url}}') {{ awesomeThing.url }}
            