.row
  .col-xs-12
    h2 Integrando con Angular.js

    h3 ¿Por qué en una directiva?
    p La reutilización de componentes de software es la principal razón de por qué una visualización de datos puede ser de mayor utilidad cuando se generaliza su código lo más posible para ser reutilizado al momento que cambian los datos de entrada.

    h3 Ejemplo de directiva
    .row
      .col-xs-12
        h4 Directive.js
        ui-codemirror(ui-codemirror-opts="editorOptions" ng-model="codes[0]")
    .row
      .col-xs-12
        h4 Markup
        ui-codemirror(ui-codemirror-opts="editorOptions" ng-model="codes[1]")
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            button.btn.btn-default.pull-right(ng-click="updateData()") Actualizar información
            h3 Visualización con datos random
          .panel-body
            chart-directive(data="data")
hr
        

    